-- Create members table for authentication
CREATE TABLE IF NOT EXISTS members (
  id SERIAL PRIMARY KEY,
  email TEXT UNIQUE NOT NULL,
  password_hash TEXT,
  membership_tier TEXT DEFAULT 'free' NOT NULL,
  is_premium BOOLEAN DEFAULT false NOT NULL,
  is_admin BOOLEAN DEFAULT false NOT NULL,
  created_at TIMESTAMP DEFAULT NOW() NOT NULL
);

-- Create historical_prices table for stock data
CREATE TABLE IF NOT EXISTS historical_prices (
  id SERIAL PRIMARY KEY,
  ticker VARCHAR(10) NOT NULL,
  close_price TEXT NOT NULL,
  date TIMESTAMP DEFAULT NOW() NOT NULL
);

-- Insert admin user
INSERT INTO members (email, password_hash, membership_tier, is_admin, is_premium)
VALUES ('ajwoodzy007@gmail.com', 'admin_bypass', 'admin', true, true)
ON CONFLICT (email) DO UPDATE SET
  membership_tier = 'admin',
  is_admin = true,
  is_premium = true;
